# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.bak

# PyInstaller
build/
*.spec
